Repository sujanos/bitcoin-milker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter dca-frontend -- lint --fix, pnpm --filter dca-backend lint --fix

feat: Deploy on railway button
  README.md
Due: none

fix: default select value
  packages/dca-frontend/src/components/select-frequency.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

fix: select value
  packages/dca-frontend/src/components/select-frequency.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

fix: select - skip trying to get default working
  packages/dca-frontend/src/components/select-frequency.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

fix: remove dockerfile from backend
  packages/dca-backend/Dockerfile
Due: none

fix: remove coinranking api key
  packages/dca-backend/src/lib/env.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: remove notice on app not being production ready
  packages/dca-frontend/src/components/presentation.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: remove too fast frequencies for reasonable DCA
  packages/dca-frontend/src/components/select-frequency.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: update domain references to dca app
  README.md
Due: none

fix: just update uniswap ability and vincent app sdk versions
  packages/dca-backend/package.json
  pnpm-lock.yaml
Due: none

feat: update wallet view to show more decimals and also have a button to go to the dashboard
  packages/dca-frontend/src/components/wallet.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

fix: add missing dockerfile
  packages/dca-backend/Dockerfile
Due: none

chore(starter-kit): env cleanup
  .env.example
  packages/dca-backend/.env.example
  packages/dca-backend/src/lib/env.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

fix: rename Dockerfile to Dockerfile.mongo
  packages/dca-backend/Dockerfile.mongo
  packages/dca-backend/package.json
Due: none

chore(frontend): frontend redesign (fonts, styles, colors, mobile compatability)
  packages/dca-frontend/index.html
  packages/dca-frontend/package.json
  packages/dca-frontend/public/external-logos/base-logo.svg
  packages/dca-frontend/public/external-logos/eth.svg
  packages/dca-frontend/public/external-logos/usdc-coin-logo.svg
  packages/dca-frontend/public/external-logos/wbtc.svg
  packages/dca-frontend/public/fonts/encode-sans-semi-expanded/EncodeSansSemiExpanded-Regular.ttf
  packages/dca-frontend/public/fonts/encode-sans-semi-expanded/style.css
  packages/dca-frontend/public/fonts/poppins/Poppins-Medium.ttf
  packages/dca-frontend/public/fonts/poppins/style.css
  packages/dca-frontend/public/vincent-logo-orange.svg
  packages/dca-frontend/src/App.tsx
  packages/dca-frontend/src/components/active-dcas.tsx
  packages/dca-frontend/src/components/create-dca.tsx
  packages/dca-frontend/src/components/dialogue-dca-failed-details.tsx
  packages/dca-frontend/src/components/dialogue-edit-dca.tsx
  packages/dca-frontend/src/components/input-amount.tsx
  packages/dca-frontend/src/components/presentation.tsx
  packages/dca-frontend/src/components/select-frequency.tsx
  packages/dca-frontend/src/components/ui/button.tsx
  packages/dca-frontend/src/components/ui/dotted-background.tsx
  packages/dca-frontend/src/components/ui/footer.tsx
  packages/dca-frontend/src/components/ui/header.tsx
  packages/dca-frontend/src/components/ui/page-header.stories.tsx
  packages/dca-frontend/src/components/ui/page-header.tsx
  packages/dca-frontend/src/components/ui/tabs.tsx
  packages/dca-frontend/src/components/wallet-modal.stories.tsx
  packages/dca-frontend/src/components/wallet-modal.tsx
  packages/dca-frontend/src/components/wallet.tsx
  packages/dca-frontend/src/index.css
  packages/dca-frontend/src/pages/home.tsx
  packages/dca-frontend/src/pages/login.tsx
  packages/dca-frontend/src/stories/button.stories.tsx
  packages/dca-frontend/src/stories/footer.stories.tsx
  packages/dca-frontend/src/stories/header.stories.tsx
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

chore(dashboard): fix login footer positioning
  packages/dca-frontend/src/App.tsx
  packages/dca-frontend/src/pages/home.tsx
  packages/dca-frontend/src/pages/login.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

Update packages/dca-frontend/src/components/ui/page-header.stories.tsx
  packages/dca-frontend/src/components/ui/page-header.stories.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

Update packages/dca-frontend/src/components/ui/page-header.tsx
  packages/dca-frontend/src/components/ui/page-header.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

chore(frontend): zendesk button to have white text
  packages/dca-frontend/src/lib/zendesk.ts
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

chore: update readme
  .lintstagedrc.json
  README.md
  packages/backend/.env.example
  packages/backend/package.json
  packages/frontend/README.md
  packages/frontend/src/pages/home.tsx
  pnpm-lock.yaml
Due: none

feat: add cbBTC logo
  packages/frontend/public/external-logos/cbbtc_logo.png
  packages/frontend/src/components/wallet.tsx
Due: none

Path conditions:
  prettier --write: ((any of: packages/dca-frontend/**/*.{ts,tsx,cjs,js}) or (any of: packages/dca-backend/**/*.{ts,tsx,cjs,js})) or (any of: *.json,md)
  pnpm --filter dca-frontend -- lint --fix: any of: packages/dca-frontend/**/*.{ts,tsx,cjs,js}
  pnpm --filter dca-backend lint --fix: any of: packages/dca-backend/**/*.{ts,tsx,cjs,js}
