Repository sujanos/bitcoin-milker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm --filter dca-frontend -- lint --fix, pnpm --filter dca-backend lint --fix

.lintstagedrc.json:

{
  "packages/dca-frontend/**/*.{ts,tsx,cjs,js}": ["prettier --write", "pnpm --filter dca-frontend -- lint --fix"],
  "packages/dca-backend/**/*.{ts,tsx,cjs,js}": ["prettier --write", "pnpm --filter dca-backend lint --fix"],
  "*.json,md": ["prettier --write"]
}

feat: copy style updates
  packages/dca-frontend/src/components/create-dca.tsx
  packages/dca-frontend/src/components/info.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: use jwt full decoded data
  packages/dca-backend/src/lib/express/routes/purchases.ts
  packages/dca-backend/src/lib/express/routes/schedules.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

fix: comment consentPageUrl used for development
  packages/dca-frontend/src/hooks/useBackend.ts
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

chore(dca-backend): LIT-4363 - Modify cache time for top tokens & eth price
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/baseMemeCoinLoader.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/ethPriceLoader.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

chore(dca-backend): LIT-4363 - Add a log when we start a job
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat(dca-backend): LIT-4364 - Disable jobs failing for known-fatal reasons (user can re-enable them)
  packages/dca-backend/src/lib/jobWorker.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: use vincent jwt app version in jobs, use jwt info from decoded payload, verify jwt on FE startup and fix local dev server
  packages/dca-backend/src/lib/agenda/jobs/dcaSwapJobManager.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
  packages/dca-backend/src/lib/express/schedules.ts
  packages/dca-frontend/src/contexts/jwt.tsx
  packages/dca-frontend/vite.config.ts
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix, pnpm --filter dca-backend lint --fix

chore: Update eslint rules to be more lenient
  .eslintrc.cjs
  packages/dca-backend/.eslintrc.cjs
  packages/dca-backend/jest.config.js
  packages/dca-backend/src/lib/agenda/jobs/dcaSwapJobManager.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/baseMemeCoinLoader.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/get-addresses-by-chain-id.ts
  packages/dca-backend/src/lib/ipfsCidsIndexByAppVersion.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: add ipfs cids for dca prod app
  packages/dca-backend/src/lib/ipfsCidsIndexByAppVersion.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: add some disclaimers
  README.md
  packages/dca-frontend/src/components/presentation.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: update vincent sdk version
  packages/dca-backend/package.json
  packages/dca-frontend/package.json
  pnpm-lock.yaml
Due: none

fix: update lockfile
  pnpm-lock.yaml
Due: none

feat: remove unused variable in example env file
  .env.example
  .env.example.development
Due: none

feat: update readme file
  README.md
Due: none

fix: send formatted amount to getSignedUniswapQuote
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: update readme
  README.md
Due: none

feat: remove esbuild in starter app BE
  packages/dca-backend/esbuild.mjs
  packages/dca-backend/package.json
  pnpm-lock.yaml
Due: none

feat: add unbuild config file
  packages/dca-backend/build.config.ts
  packages/dca-backend/tsconfig.json
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: just update nodejs version
  package.json
  packages/dca-backend/package.json
  packages/dca-frontend/package.json
Due: none

fix: actually update to nodejs v24 and put that into the docs
  README.md
  package.json
  packages/dca-backend/package.json
  packages/dca-frontend/package.json
Due: none

fix: i think i found a working node version
  README.md
  package.json
  packages/dca-backend/package.json
  packages/dca-frontend/package.json
Due: none

fix: remove dotenvx from prod start in backend
  packages/dca-backend/package.json
Due: none

fix: use specific nixpkgs version for railway
  railway.toml
Due: none

fix: update nixpkgs version
  railway.toml
Due: none

fix: remove railway.toml
  railway.toml
Due: none

fix: trying another nodejs version
  README.md
  package.json
  packages/dca-backend/package.json
  packages/dca-frontend/package.json
Due: none

fix: update .nvmrc
  .nvmrc
  railway.json
Due: none

fix: remove railway.json
  railway.json
Due: none

feat: update dca to be using usdc to buy wbtc
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/baseMemeCoinLoader.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/dataLoaderCache.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/ethPriceLoader.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/get-erc20-info.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/index.ts
  packages/dca-backend/src/lib/jobWorker.ts
  packages/dca-backend/src/lib/mongo/models/PurchasedCoin.ts
  packages/dca-frontend/src/components/create-dca.tsx
  packages/dca-frontend/src/components/wallet.tsx
  packages/dca-frontend/src/hooks/useChain.ts
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix, pnpm --filter dca-backend lint --fix

fix: correct wBtc decimals
  packages/dca-frontend/src/components/wallet.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: copy updates
  packages/dca-frontend/src/components/create-dca.tsx
  packages/dca-frontend/src/components/presentation.tsx
  packages/dca-frontend/src/stories/presentation.stories.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: add zendesk, sentry, react compiler, helmet and several validations to ensure correct usage
  .gitignore
  packages/dca-backend/.env.example
  packages/dca-backend/package.json
  packages/dca-backend/src/bin/serverWorker.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/executeDCASwap.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/get-user-permitted-version.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/index.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/signer.ts
  packages/dca-backend/src/lib/agenda/jobs/jobVersion.ts
  packages/dca-backend/src/lib/apiServer.ts
  packages/dca-backend/src/lib/env.ts
  packages/dca-backend/src/lib/error.ts
  packages/dca-backend/src/lib/express/index.ts
  packages/dca-backend/src/lib/jobWorker.ts
  packages/dca-backend/src/lib/sentry.ts
  packages/dca-frontend/.env.example
  packages/dca-frontend/package.json
  packages/dca-frontend/src/components/wallet.tsx
  packages/dca-frontend/src/config/env.ts
  packages/dca-frontend/src/hooks/useChain.ts
  packages/dca-frontend/src/lib/zendesk.ts
  packages/dca-frontend/src/main.tsx
  packages/dca-frontend/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix, pnpm --filter dca-backend lint --fix

feat: update uniswap ability
  packages/dca-backend/package.json
  pnpm-lock.yaml
Due: none

fix: remove tsconfig base extends for railway compat
  packages/dca-frontend/package.json
  packages/dca-frontend/tsconfig.json
Due: none

fix: remove vite start
  packages/dca-frontend/package.json
Due: none

fix: remove sentry graphql integration that was not used
  packages/dca-backend/src/lib/sentry.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: allow for an optional yellowstone rpc env var
  packages/dca-backend/.env.example
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/utils/signer.ts
  packages/dca-backend/src/lib/agenda/jobs/executeDCASwap/vincentAbilities.ts
  packages/dca-backend/src/lib/env.ts
  packages/dca-backend/src/mintRLINft.ts
Due: prettier --write, pnpm --filter dca-backend lint --fix

feat: move sentry org and project to env variables
  packages/dca-backend/.env.example
  packages/dca-backend/package.json
  packages/dca-frontend/.env.example
  packages/dca-frontend/src/config/env.ts
  packages/dca-frontend/src/main.tsx
  packages/dca-frontend/vite.config.ts
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix

feat: default value for frequency select, copy button for wallet
  packages/dca-frontend/src/components/select-frequency.tsx
  packages/dca-frontend/src/components/wallet.tsx
Due: prettier --write, pnpm --filter dca-frontend -- lint --fix
